##ignore this file##
bin/
logs/
target/
canal-server/
*.log
*.log.*
*.iml
*.project
*.settings
*.classpath
*.class
rebel.xml
.DS_store
^\..*

##filter databfilesln file##
*.mdb
*.ldb
*.sln
*.bak

##class file##
*.com
*.dll
*.exe

##compression file
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.via
*.tmp

*.factorypath
/.apt_generated/

.idea
.metadata
